.list-group-item.course-link {
    color: #d41b2c;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    :hover {
        text-decoration: underline;
        text-decoration-color: #d41b2c;
    }
}

.list-group-item.active{
    color: black;
    border-left-width: 2px;
    border-left-color: black;
    border-top: none;
    border-bottom: none;

    :hover {
        color: black;
    }
}

